# GitHub Configuration
GITHUB_ORGANIZATION=your-org-name
GITHUB_ENTERPRISE=your-enterprise-name
GITHUB_TOKEN=github_pat_xxxxx
GITHUB_API_VERSION=2022-11-28
GITHUB_API_SCOPE=organization

# Feature Flags
ENABLE_DASHBOARD_FEATURE=true
ENABLE_SEATS_FEATURE=true

# Azure Cosmos DB (optional)
#AZURE_COSMOSDB_ENDPOINT